* {
  padding: 0;
  margin: 10px 0 0 15px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url(../Images/logistics1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: yellow;
  font-weight: bolder;
}

.page-layout {
  display: flex;
  justify-content: space-around;
}

table {
  text-align: center;
  width: 500px;
  height: 300px;
  background-color: rgb(180, 91, 91, 0.5);
}

table,
th,
td {
  border: 1px solid yellow;
}

.left-side {
  background-color: rgb(180, 91, 91, 0.5);
}

.service:hover {
  background-color: blue;
}

#submit {
  cursor: pointer;
}
